.parallax
  position: relative
  background-image: url('http://www.restauranteskylab.com.br/wp-content/uploads/2016/05/parallax-home.jpg')
  background-size: cover
  background-position: center center
  background-attachment: fixed
  height: 330px
  width: 100%
  overflow: hidden
  .text
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    text-align: center
    color: #FFFFFF
    opacity: .8
    transition: all 250ms linear
    h3
      display: block
      width: 100%
      text-align: center
      font-size: 23px
