.tabs-external
  display: flex
  .list
    width: 250px
    li
      border-bottom: 1px solid #dedede
      background-color: #f7f6f2
      position: relative
      .tab-link
        &:before
          content: ''
          height: 100%
          width: 20px
          position: absolute
          right: 0
          top: 0
        &:after
          content: ""
          font-family: "FontAwesome"
          position: absolute
          font-size: 16px
          right: 7px
          top: 50%
          -webkit-transform: translateY(-50%)
          -ms-transform: translateY(-50%)
          transform: translateY(-50%)
          color: #000
        &:hover,
        &.active
          color: $color-danger
          &:before
            background-color: $color-danger
          &:after
            color: #FFF



      .tab-link
        cursor: pointer
        display: block
        padding: 10px 20px 10px 10px
        position: relative
        text-decoration: none
        color: #000
