<div id="tab1">
  <div class="box box-inline">
    <figure class="figure">
      <img src="https://placeholdit.imgix.net/~text?txtsize=33&txt=figure 01&w=225&h=168" alt="" />
    </figure>
    <div class="text">
      <h3 class="title">Lorem ipsum dolor sit amet 01</h3>
      <div class="excerpt">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit,
        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
      </div>
    </div>
  </div>
</div>

<div id="tab2">
  <div class="box box-inline">
    <figure class="figure">
      <img src="https://placeholdit.imgix.net/~text?txtsize=33&txt=figure 02&w=225&h=168" alt="" />
    </figure>
    <div class="text">
      <h3 class="title">Lorem ipsum dolor sit amet 02</h3>
      <div class="excerpt">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit,
        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
      </div>
    </div>
  </div>
</div>

<div id="tab3">
  <div class="box box-inline">
    <figure class="figure">
      <img src="https://placeholdit.imgix.net/~text?txtsize=33&txt=figure 03&w=225&h=168" alt="" />
    </figure>
    <div class="text">
      <h3 class="title">Lorem ipsum dolor sit amet 03</h3>
      <div class="excerpt">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit,
        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
      </div>
    </div>
  </div>
</div>
