.componente-pipoca .video
	display: block
	width: 100%
	max-width: 100%
	.wrapper-iframe
		position: relative
		padding-bottom: 53%
		padding-top: 30px
		height: 0
		overflow: hidden
		iframe
			position: absolute
			top: 0
			left: 0
			margin: 0
			width: 100%
			max-width: 100%
			height: 100%

.componente-pipoca .video
	&.video-thumnail
		width: 500px
		position: relative
		&.playing
			.play
				transition: .3s
				opacity: 0
				visibility: hidden
		.play
			background-color: #c7c7c7
			background-size: cover
			background-position: center
			position: absolute
			top: 0
			left: 0
			z-index: 1
			width: 100%
			height: 100%
			&:before
				content: ''
				position: absolute
				width: 100%
				height: 100%
				background-color: rgba(0, 0, 0, .4)
			&:after
				position: absolute
				cursor: pointer
				opacity: .8
				color: #FFF
				content: "\f144"
				font: normal normal normal 14px/1 FontAwesome
				position: absolute
				left: 50%
				top: 50%
				transform: translate(-50%, -50%)
				font-size: 60px
			&:hover
				&:after
					opacity: 1

.componente-pipoca .section-videos
	.row
		display: flex
		justify-content: space-between

	.title-video
		margin: 15px 0 10px
		font-size: 24px

	.list-videos
		display: flex
		flex-direction: column
		justify-content: space-between
		width: 25%
		padding: 0
		margin: 0 0 0 50px
		list-style: none
		.list-item-video
			position: relative
			display: block
			cursor: pointer
			border: 5px solid transparent
			line-height: 0
			transition: all 200ms linear
			.info
				position: absolute
				top: 0
				left: 0
				width: 100%
				height: 100%
				z-index: 3
				overflow: hidden
				h4
					position: absolute
					left: 0
					bottom: 0
					padding: 5px
					margin: 0
					width: 100%
					font-size: 12px
					color: #FFFFFF
					line-height: 1.2
					background: rgba($color-primary, .8)
					transform: translateY(100%)
					transition: all 200ms linear
				p
					display: none
			&:hover
				h4
					transform: translateY(0)

			&.current
				background-color: $color-primary
				border-color: $color-primary
				cursor: default
				pointer-events: none
				img
					position: relative
					z-index: 2
				&:hover
					h4
						transform: translateY(100%)
				&::before
					content: ''
					position: absolute
					left: 0
					top: 50%
					transform: translateY(-50%)
					width: 0
					height: 0
					border-top: 12px solid transparent
					border-right: 12px solid $color-primary
					border-bottom: 12px solid transparent
					z-index: 1
					animation: animaArrowLeft 350ms forwards

@keyframes animaArrowLeft
	from
		left: 0
	to
		left: -15px

@keyframes animaArrowTop
	from
		top: 0
	to
		top: -20px

@media (max-width: 700px)
	.section-videos
		.row
			flex-direction: column
			.list-videos
				flex-direction: row
				width: 100%
				margin: 20px 0 5px
				.list-item-video
					&.current
						&::before
							top: -20px
							left: 50%
							transform: translateX(-50%) rotate(90deg)
							animation: animaArrowTop 350ms forwards

@media (max-width: 600px)
	.section-videos
		.list-videos
			.list-item-video
				border-width: 3px
				.info
					display: none
