.card
  display: inline-block
  width: 100%
  position: relative
  overflow: hidden

  max-width: 340px //optional

  > .figure
    padding-bottom: 20%
    line-height: 0
    transition: all 250ms linear
    img
      width: 100%

  > .info
    position: absolute
    top: 0
    left: 0
    display: block
    width: 100%
    height: 100%
    padding: 0 15px 15px
    background-color: $color-primary
    text-align: center
    color: #FFFFFF

    transition: all 250ms linear
    transform: translateY(70%)

    .icon
      display: block
      width: 60px
      height: 60px
      margin: -30px auto 10px
      border-radius: 100px
      text-align: center
      line-height: 60px
      font-size: 1.4rem
      color: darken($color-primary, 20)
      background-color: #FFFFFF
      transition: all 250ms linear

    .title
      width: 100%
      margin-bottom: 15px
      text-transform: uppercase
      transition: all 250ms linear

    .text
      width: 100%
      font-size: .8rem
      margin-bottom: 15px
      opacity: 0
      transition: all 250ms linear

    .button
      color: #FFFFFF
      border-color: #FFFFFF
      &:hover
        border-color: darken($color-primary, 20)
        background-color: darken($color-primary, 20)


  // hover
  &:hover
    > .info
      transform: translateY(0)
      .icon
        margin: 30px auto 20px
        transform: scale(1.2)
      .text
        opacity: 1


  // round
  &.card-round
    border-radius: 5px


  // others
  &.card-sadie,
  &.card-honey,
  &.card-zoe,
  &.card-bubba,
  &.card-ruby,
  &.card-goliath,
  &.card-roxy
    > .figure
      padding: 0
    > .info
      transform: none
      background: transparent

  // sadie
  &.card-sadie
    > .info
      .title,
      .text
        position: absolute
        left: 0
        width: 100%
        padding: 0 15px
        margin: 0
      .title
        top: 50%
        transform: translateY(-50%)
      .text
        bottom: 0
    &:before
      content: ''
      position: absolute
      bottom: 0
      left: 0
      width: 100%
      height: 80%
      background: linear-gradient(to bottom, transparent 0%, rgba(0,0,0,0.69) 99%, rgba(0,0,0,0.7) 100%)
      opacity: 0
      transition: all 250ms linear
    &:hover
      > .info
        transform: translateY(-15px)
      &::before
        height: 100%
        opacity: 1


  // honey
  &.card-honey
    > .info
      .title
        position: absolute
        left: 0
        bottom: 0
        margin: 0
        text-align: left
        padding: 0 30px 20px
        transform: translateY(-20px)
        &:after
          content: ' Now'
          opacity: 0
          transition: all 250ms linear

      &:before
        content: ''
        position: absolute
        left: 0
        bottom: 0
        width: 100%
        height: 8px
        background-color: #fff
        transform: translateY(100%)
        transition: all 250ms linear
    &:hover
      > .info
        background-color: rgba(#000, .3)
        .title,
        &:before
          transform: translateY(0)
        .title:after
          opacity: 1


  // zoe
  &.card-zoe
    > .info
      padding: 0
      .title
        position: absolute
        bottom: 0
        left: 0
        margin: 0
        text-align: left
        color: #333
        background-color: #fff
        padding: 10px
        transform: translateY(100%)
        nav
          position: absolute
          top: 50%
          right: 0
          padding: 0 10px
          transform: translateY(-50%)
          a
            color: #333
            font-size: .9em
            text-decoration: none
            opacity: 0
            transition: all 250ms linear
            & + a
              margin-left: 10px
      .text
        position: absolute
        top: 50%
        left: 0
        padding: 0 15px
        margin: 0
        transform: translateY(-50%)
    &:hover
      > .info
        .title
          transform: translateY(0)
          nav
            a
              animation: moveToUp 250ms forwards
              &:nth-child(1)
                animation-delay: 150ms
              &:nth-child(2)
                animation-delay: 250ms
              &:nth-child(3)
                animation-delay: 350ms
        .text
          transform: translateY(calc(-50% - 25px))


  // bubba
  &.card-bubba
    > .info
      display: flex
      justify-content: center
      align-items: center
      flex-direction: column
      padding: 30px
      .title
        margin-bottom: 30px
      .text
        margin: 0
      &:before,
      &:after
        position: absolute
        top: 15px
        right: 15px
        bottom: 15px
        left: 15px
        content: ''
        opacity: 0
        transition: opacity 400ms, transform 400ms
      &:before
        border-top: 1px solid #fff
        border-bottom: 1px solid #fff
        transform: scale(0,1)
      &:after
        border-right: 1px solid #fff
        border-left: 1px solid #fff
        transform: scale(1,0)
    &:hover
      > .info
        background-color: rgba(#000, .5)
        .title
          margin-bottom: 10px
        &:before,
        &:after
          opacity: 1
          transform: scale(1)


  // ruby
  &.card-ruby
    > .figure
      transform: scale(1.2)
    > .info
      display: flex
      justify-content: center
      align-items: center
      flex-direction: column
      padding: 15px
      .title
        transform: translateY(15px)
      .text
        padding: 15px
        border: 1px solid #fff
        transform: scale(1.2)
    &:hover
      > .figure
        transform: scale(1)
      > .info
        background-color: rgba(#000, .5)
        .title
          transform: translateY(0)
        .text
          transform: scale(1)


  // goliath
  &.card-goliath
    > .info
      height: inherit
      top: inherit
      bottom: 0
      padding: 0
      transform: translateY(60px)
      .title
        text-align: left
        padding: 0 15px
      .text
        height: 60px
        text-align: left
        padding: 10px 15px
        background-color: $color-primary
        opacity: 1
        margin: 0
    &:hover
      > .figure
        transform: translateY(-60px)
      > .info
        transform: translateY(0)
        .title
          margin-bottom: 30px


  // roxy
  &.card-roxy
    > .figure
      transform: translateX(-10px) scale(1.2)
    > .info
      display: flex
      align-items: flex-end
      flex-direction: column
      justify-content: flex-end
      padding: 30px
      &:before
        content: ''
        position: absolute
        top: 15px
        left: 15px
        right: 15px
        bottom: 15px
        border: 1px solid #fff
        transform: translateX(-10px)
        transition: all 250ms linear
        opacity: 0
      .title
        text-align: left
        margin-bottom: 10px
        transform: translateY(-30px)
      .text
        margin: 0
        text-align: left
        transform: translate(-7px, -30px)

    &:hover
      > .figure
        transform: translateX(0) scale(1.2)
      > .info
        &:before
          transform: translateX(0)
          opacity: 1
        .text
          transform: translate(0, -30px)






@keyframes moveToUp
  from
    transform: translateY(40px)
    opacity: 0
  to
    transform: translateY(0)
    opacity: 1
