// reset
.componente-pipoca input[type="text"],
.componente-pipoca input[type="email"],
.componente-pipoca input[type="password"],
.componente-pipoca input[type="search"],
.componente-pipoca textarea,
.componente-pipoca select
	display: block
	width: 100%
	font-size: .7rem
	border: 1px solid #CCCCCC
	border-radius: 0
	padding: 0 10px
	transition: all 200ms linear
	appearance: none

// input
.componente-pipoca .input
	position: relative
	display: inline-block
	min-width: 200px

	input
		height: 30px

		// focus
		&:focus
			border-color: #AAAAAA

	// round
	&.input-round
		input,
		textarea
			border-radius: 5px
	&.input-round-full
		input
			border-radius: 100px
			padding-left: 15px
			padding-right: 15px

	// disabled
	&.disabled input,
	input[disabled]
		background-color: #CCCCCC
		cursor: default
		pointer-events: none

	// icons
	&.input-icon
		.fa
			position: absolute
			left: 10px
			top: 50%
			transform: translateY(-50%)
			font-size: 16px
		input
			padding-left: 30px
		&.icon-right
			.fa
				left: auto
				right: 10px
			input
				padding-left: 10px
				padding-right: 30px

// select
.componente-pipoca .select
	position: relative
	display: inline-block
	min-width: 200px
	border: 1px solid #CCCCCC
	cursor: pointer
	overflow: hidden
	select
		position: relative
		width: 115%
		height: 30px
		padding-right: calc(15% + 30px)
		border: none
		background: transparent
		cursor: pointer
		z-index: 1
	&:after
		position: absolute
		right: 10px
		top: 50%
		transform: translateY(-50%)
		font: normal normal normal 25px/1 FontAwesome
		content: '\f107'
		z-index: 0

	// round
	&.select-round
		border-radius: 5px
	&.select-round-full
		border-radius: 100px
		select
			padding-left: 15px

	// disabled
	&.disabled
		background-color: #CCCCCC
		cursor: default
		pointer-events: none
		&:after
			color: #AAAAAA
	select[disabled]
		cursor: default
		pointer-events: none

// checkbox
.componente-pipoca .checkbox
	display: inline-block
	input
		position: relative
		width: 21px
		height: 21px
		&:before
			border: 2px solid transparent
			content: ''
			display: block
			height: 17px
			position: absolute
			transition: all 200ms linear
			width: 17px
			z-index: 1
			cursor: pointer
		&:checked
			&:before
				border-color: $color-primary
				border-top-style: none
				border-right-style: none
				height: 10px
				transform: rotate(-45deg)
				cursor: pointer
		&:after
			background: #FFFFFF
			content: ''
			display: block
			height: 17px
			position: absolute
			border: 2px solid rgba($color-primary, .5)
			top: 0
			width: 17px
			z-index: 0
			cursor: pointer

		// disabled
		&[disabled]
			cursor: default
			pointer-events: none
			&:checked
				&:before
					border-color: #CCCCCC
			&:after
				border-color: rgba(#CCCCCC, .5)

	// round
	&.checkbox-round
		input:after
			border-radius: 5px
	&.checkbox-round-full
		input:after
			border-radius: 100px

	// colors
	@each $section, $color in $colors
		&.checkbox-#{$section}
			input
				&:checked
					&:before
						border-color: $color
				&:after
					border-color: rgba($color, .5)

// radio
.componente-pipoca .radio
	position: relative
	display: inline-block
	cursor: pointer
	width: 20px
	height: 20px
	input
		opacity: 0
		&:checked
			+ .inner
				&:before
					transform: scale(1)
					opacity: 1
	.inner
		position: absolute
		top: 0
		left: 0
		display: flex
		justify-content: center
		align-items: center
		width: 100%
		height: 100%
		background: #FFFFFF
		border: 2px solid $color-primary
		border-radius: 100px
		&:before
			content: ''
			display: block
			width: 10px
			height: 10px
			border-radius: 100px
			background-color: $color-primary
			transform: scale(.0)
			opacity: 0
			transition: all 200ms linear

	// disabled
	input[disabled] + .inner
		border-color: #CCCCCC
		cursor: default
		pointer-events: none
		&:before
			background: #CCCCCC

	// colors
	@each $section, $color in $colors
		&.radio-#{$section}
			.inner
				border-color: $color
				&:before
					background-color: $color

// textarea
.componente-pipoca .input
	textarea
		min-height: 100px
		max-width: 100%
		padding: 10px
