.collapse
  margin-top: 30px
  overflow: hidden
  .collapse-item
    .collapse-header
      position: relative
      padding: 15px 15px 13px 15px
      font-size: 20px
      color: #FFFFFF
      background-color: green
      cursor: pointer
      transition: all 250ms linear
      .icon-toggle
        position: absolute
        right: 15px
        top: 50%
        transform: translateY(-50%)
        display: block
        width: 20px
        height: 20px
        &:before,
        &:after
          position: absolute
          top: 50%
          transform: translateY(-50%)
          content: ''
          display: block
          width: 12px
          height: 2px
          background-color: #FFFFFF
          transition: all 250ms linear
        &:before
          left: 0
          transform: rotate(46deg)
        &:after
          right: 0
          transform: rotate(-46deg)

      &:after
        position: absolute
        left: 0
        bottom: -5px
        content: ''
        width: 100%
        height: 5px
        background: linear-gradient(180deg, rgba(#000, .2), transparent)
        z-index: 1

      &.collapse-icon
        padding-left: 50px
        .fa
          position: absolute
          top: 50%
          left: 15px
          transform: translateY(-50%)

    .collapse-body
      display: none
      background-color: #ebebeb
      figure
        position: relative
        .infografico_tab
          position: absolute
          left: 30px
          bottom: 0
          width: 37%
          max-width: 180px
          z-index: 1
      p
        padding: 30px
        .button
          display: block
          max-width: 160px
          margin-top: 25px

    .collapse-current
      background-color: green
      .icon-toggle
        &:before,
        &:after
          width: 20px
