$color-gallery: #678901

.gallery
  .large-image-slider
    min-height: 300px
    figure
      position: relative
      figcaption
        position: absolute
        bottom: 0
        min-height: 60px
        background: rgba(0,0,0,0.5)
        color: #FFF
        line-height: 1.3
        padding: 20px 20px
        font-weight: 200
        width: 100%
        font-size: 1.3rem
  figure
    margin: 0
    line-height: 0
  img
    max-width: 100%
  .list
    list-style: none
    margin-top: 10px
    li
      position: relative
      padding-left: 5px
      padding-right: 5px
      line-height: 0
      cursor: pointer
      &:hover
        opacity: .7
      &.active
        pointer-events: none
        &:before
          content: ''
          position: absolute
          top: 0
          left: 5px
          width: calc( 100% - 10px )
          height: 100%
          background: rgba( $color-gallery, .5)
          z-index: 1

  .slick-arrow
    position: absolute
    z-index: 1
    top: 50%
    border: none
    -ms-transform: translateY(-50%)
    -webkit-transform: translateY(-50%)
    transform: translateY(-50%)
    width: 35px
    height: 70px
    background-color: #fff
    border-color: #fff
    padding: 0
    margin: 0
    font: normal normal normal 34px/1 FontAwesome
    transition: all 250ms ease
    cursor: pointer
    &:before
      top: 50%
      content: ''
      left: 12px
      position: absolute
      -ms-transform: translate(-50%, -50%)
      -webkit-transform: translate(-50%, -50%)
      transform: translate(-50%, -50%)
      color: #4A4A4A
      transition: all 250ms ease

  .slick-prev
    left: 0
    border-radius: 0 100px 100px 0

  .slick-next
    right: 0
    border-radius: 100px 0 0 100px
    &:before
      content: ""
      left: 23px



  .slick-prev,
  .slick-next
    font-size: 0
    &:before
      font-size: 2rem

@media ( max-width: 700px )
  .gallery
    margin-bottom: 30px
    .large-image-slider
      min-height: initial
    .list
      display: none

@media ( max-width: 670px )
  .gallery
    .large-image-slider
      figure
        figcaption
          display: none
