.timeline
  position: relative
  display: flex
  justify-content: center
  align-items: center
  flex-direction: column
  list-style: none
  &::before
    content: ''
    position: absolute
    top: 0
    left: 50%
    transform: translateX(-50%)
    width: 1px
    height: 100%
    border-left: 1px dashed $color-primary
  .item
    position: relative
    width: 80%
    margin: 0 0 20px
    &:last-child
      background-color: #FFFFFF
    .icon
      position: absolute
      top: 0
      left: 50%
      transform: translateX(-50%)
      width: 50px
      height: 50px
      line-height: 50px
      text-align: center
      border-radius: 100px
      color: #FFFFFF
      background: $color-primary
    .text
      width: 50%
      padding: 7px 40px 10px 10px
      text-align: right
      font-size: 18px
      strong
        font-size: 1em
      p
        font-size: .8em

    &:last-child
      margin: 0

    &:nth-child(1)
      &:before
        background-position: 0 0
    &:nth-child(2)
      &:before
        background-position: -50px 0
    &:nth-child(3)
      &:before
        background-position: -100px 0
    &:nth-child(4)
      &:before
        background-position: -150px 0
    &:nth-child(5)
      &:before
        background-position: -200px 0

    &:nth-child(odd)
      .text
        float: right
        text-align: left
        padding: 7px 10px 10px 40px

@media ( max-width: 700px )
  .timeline
    .item
      width: 100%

@media ( max-width: 600px )
  .timeline
    &:before
      left: 25px
      transform: none
    .item
      .icon
        left: 0
        transform: none
      .text
        width: 100%
        text-align: left
        padding: 7px 10px 10px 60px !important
