.componente-pipoca .list
	list-style: none
	.sub-list
		padding-left: 20px
		&:before
			display: none

	&.list-icon
		li
			&:before
				font: normal normal normal 14px/1 FontAwesome
				margin-right: 5px
			a
				text-decoration: none

		&.icon-angle
			li:before
				content: '\f105'
		&.icon-angle-double
			li:before
				content: '\f101'
		&.icon-caret
			li:before
				content: '\f0da'
		&.icon-arrow
			li:before
				content: '\f061'
				font-size: 12px
		&.icon-circle
			li
				position: relative
				padding-left: 13px
				&:before
					position: absolute
					left: 0
					top: 50%
					transform: translateY(-50%)
					content: '\f111'
					font-size: 7px
