.componente-pipoca > .date
  font-size: .8rem

  &.date-outline,
  &.date-fill
    padding: 3px 7px

  &.date-outline
    border: 1px solid
  &.date-fill
    color: #FFFFFF
    background-color: #000000

  &.date-round
    border-radius: 5px
  &.date-round-full
    border-radius: 100px
    padding-left: 10px
    padding-right: 10px

  &.date-square
    width: 85px
    height: 85px
    background-color: #000
    display: inline-block
    text-align: center
    color: #FFF
    font-weight: 200
    padding-top: 10px
    text-transform: uppercase
    span
      font-size: 40px
      display: block
      font-weight: 800
  &.date-half
    width: 100px
    height: 50px
    display: inline-block
    text-align: center
    color: #000
    font-weight: 200
    padding-top: 40px
    text-transform: uppercase
    position: relative
    font-size: 16px
    &:before
      content: ""
      height: 58px
      border-left: 1px solid #000
      position: absolute
      top: 0
      transform: rotate(22deg)
      left: 61%
    span
      font-size: 50px
      display: block
      font-weight: 800
      margin-right: 10px
      margin-top: -48px
      width: 50px
      float: left



  // icon
  &.date-icon
    &:before
      content: '\f073'
      font: normal normal normal 14px/1 FontAwesome
      margin-right: 5px
