.slide
  position: relative
  display: block
  width: 100%
  .slick-track
    > .item
      display: block
      width: 100%
      img
        width: 100%

  // dots
  .slick-dots
    position: absolute
    bottom: 15px
    left: 0
    display: block
    width: 100%
    text-align: center
    list-style: none
    li
      position: relative
      display: inline-block
      width: 16px
      height: 16px
      border-radius: 100px
      background: $color-primary
      margin: 0 5px
      cursor: pointer
      &:before
        content: ''
        position: absolute
        top: 50%
        left: 50%
        transform: translate(-50%, -50%) scale(0)
        display: block
        width: 8px
        height: 8px
        border-radius: 100px
        background-color: #FFF
        transition: all 250ms linear
      &.slick-active
        &:before
          transform: translate(-50%, -50%) scale(1)
      button
        display: none

  // arrow
  .slick-arrow
    position: absolute
    top: 50%
    transform: rotateY(-50%)
    border: none
    background: transparent
    cursor: pointer
    transition: all 250ms linear
    z-index: 1
    color: $color-primary
    &:before
      font: normal normal normal 40px/1 FontAwesome
    &.slick-prev
      left: 15px
      &:before
        content: "\f104"
    &.slick-next
      right: 15px
      &:before
        content: "\f105"
