.grid-featured
  &.grid-featured-single
    margin-bottom: 40px
    margin-top: 20px
    &.with-box
      .article
        &:before
          width: 47%
          z-index: 0
          left: 53%
          transform: translate(0, -50%)
        .text
          z-index: 1
    .article
      position: relative
      display: flex
      align-items: center
      min-width: 100%
      &:before
        content: ''
        position: absolute
        left: 50%
        top: 50%
        transform: translate(-50%, -50%)
        height: 80%
        width: 1300px
        max-width: 98vw
        background-color: #f4f4f4
        z-index: -1
      .figure
        width: 55%
      .text
        width: 45%
        overflow: hidden
        padding: 0 2%
        .title
          font-weight: 600
          margin-bottom: 20px
          font-size: 18px
        .excerpt
          font-size: 15px
          font-weight: 400
        .date
          margin-bottom: 20px
          position: relative

@media ( max-width: 1000px )
  .grid-featured
    &.grid-featured-single
      .article
        padding: 20px
        &:before
          height: 100%

@media ( max-width: 1000px )
  .grid-featured
    &.grid-featured-single
      .article
        flex-direction: column
        padding: 0
        &:before
          max-width: 100%
        .text
          width: 100%
          padding: 20px
        .figure
          width: 100%
          height: 300px
          overflow: hidden
          position: relative
          img
            width: 100%
            position: absolute
            top: 50%
            transform: translateY(-50%)
