.grid-featured
  display: flex
  justify-content: space-between
  .article
    position: relative
    width: 32%
    .figure
      img
        width: 100%

  .button
    margin-top: 15px
  &.with-media-tag
    padding-top: 40px
    .icon
      position: absolute
      top: 0
      left: 10px
      background-color: $color-primary
      color: #FFF
      width: 50px
      height: 50px
      transform: translateY( -50% )
      &:before
        position: absolute
        top: 50%
        left: 50%
        transform: translate(-50%, -50%)

  &.with-date-tag
    padding-top: 40px
    .article
      padding-left: 30px
      font-size: 18px
      font-weight: 400
      .date
        position: absolute
        top: -30px
        left: 0


@media ( max-width: 740px )
  .grid-featured
    flex-direction: column
