.grid-featured
  &.grid-featured-custom
    > .large
      width: 63%
    > .normal
      display: flex
      flex-direction: column
      justify-content: space-between
      width: 35%

    .item
      position: relative
      display: block
      width: 100%
      overflow: hidden
      &:before
        content: ""
        position: absolute
        left: 0
        bottom: 0
        width: 100%
        height: 60%
        background: linear-gradient(to bottom, transparent 0%, rgba(0,0,0,0.69) 99%, rgba(0,0,0,0.7) 100%)
        z-index: 1
        transition: all 250ms linear

      .figure
        line-height: 0
        img
          transition: all 250ms linear
          width: 100%

      .text
        position: absolute
        width: 100%
        left: 0
        bottom: 0
        text-align: left
        padding: 0 8% 3% 4%
        z-index: 2
        transition: all 250ms linear
        .fonte
          display: table
          font-size: 0.8em
          color: #FFF
          background-color: $color-primary
          padding: 0 5px
        .title
          display: block
          font-size: 1.8em
          font-weight: 800
          text-transform: uppercase
          color: #fff
          line-height: 130%
          text-shadow: 0 1px 3px rgba(34,34,34,0.7)
        .icon
          position: absolute
          bottom: 10px
          right: 10px
          font-size: 1.8em
          color: #FFF

      &:hover
        &:before
          height: 80%
        .figure
          img
            transform: scale(1.2)
        .text
          padding-bottom: 5%

    > .normal
      .item
        font-size: 11px


@media ( max-width: 740px )
  .grid-featured
    &.grid-featured-custom
      > .large,
      > .normal
        width: 100%
        .item
          margin-bottom: 30px
          font-size: 14px
          & + .item
            margin: 0
